.imagenItem{
    display: inline;
    margin-bottom: 10px;
    max-height:150px;
    max-width:300px;
    padding: 15px;
}

.parrafoItem{
    text-align:justify;
}

.parrafoFecha{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
}

.imagenThumbnail{
	margin-top: 10px;
	margin-bottom: 10px;
}

.tituloThumbnail{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
}

.parrafoVistas{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
    padding: 7px;
}

.cajaItem{
    min-height:150px;
}