.programacion{
    max-height: 260px;
    overflow-y:scroll; 
    overflow-x:hidden;
}

.casillaProgramacion{
    display: inline-block;
    width:220px;
    text-align: left;
    overflow-x:hidden;
    padding: 8px;
    line-height: 120%;
}

.casillaActiva{
    color: #81BEF7;
    background-color: #6E6E6E;
}

.casillaNoActiva{
    color: #D8D8D8;
    background-color: #6E6E6E;
}

.letraProgramacion{
    margin-top:5px;
    margin-bottom:5px;
}

.letraHora{
    font-size: 110%;
    color: #FE9A2E;
}

.programacionContent{
	/*width: 1000px;*/
}

.panelVideos{
    height: 240px;
}

.panelNoticias{
    height: 550px;
    overflow-y:scroll; 

}

.panelAliados{
    height: 120px;
}

.panelIESAfiliadas{
    height: 120px;
}

.panelEfemerides{
    height: 240px;
    overflow-y:hidden; 
    overflow-x:hidden; 
    padding:0px;
    margin: 0px;
}

.panelNoticiasDestacadas{
    height: 280px;
    overflow-y:hidden; 
    overflow-x:hidden; 
    padding:0px;
}

.panelEventos{
    padding:0px;
    margin: 0px;
    height: 250px;
    overflow-y:scroll; 
}

.panelTwitter{
    height: 440px;
    /*font-size: 0.8em;
    overflow-y:scroll; */
}

.panelFacebook{
    height: 250px;
}

.panelInstagram{
    height: 130px;
    /*overflow-y:scroll; */
}

.infoCarrusel{
    -moz-border-radius:10px;  /* for Firefox */
    -webkit-border-radius:10px; /* for Webkit-Browsers */
    border-radius:10px; /* regular */
    text-align: center;
    vertical-align: bottom;
    background-color: rgba(245, 245, 245, 0.8);
}

.tituloCarrusel{
    color:#0000FF;
}

.leadCarrusel{
    font-size: 0.9em;
    color:#0000FF;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(1,116,223,.25);
}

.carousel-indicators .active {
  background-color: #0101DF;
}

.imagenThumbnail{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tituloThumbnail{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
    padding: 1px;
}

.parrafoItem{
    text-align:justify;
    font-size: 0.9em;
}

.parrafoVistas{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
    padding: 0px;
}

.imagenCarrusel{
    width:425px;
    height:220px    
}

.panelActualidad{
    height: 260px;
}

.panelSenalEnVivo{
    height: 260px;
}

.parrafoLead{
    text-align:justify;
    font-size: 1em;
    color: #424242;
    padding: 0px;
}

.imagenItem{
    display: inline;
    margin-bottom: 10px;
    max-height:150px;
    max-width:300px;
    padding: 6px;
}

.tituloEvento{
    text-align:left;
    font-size: 0.8em;
    color: #424242;
    padding: 2px !important;
}

.parrafoFecha{
    text-align:left;
    font-size: 0.8em;
    color: #424242;
    padding: 4px;
    font-weight: bold;
}

.cajaEvento{
    padding: 4px;
    margin: 4px;
    text-align:justify;
}

.panelEncuesta{
    height: 250px;
    overflow-y:scroll; 
}

.parrafoPreguntas{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
    padding: 0px;
}

.tituloBarra{
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    margin:0px;
    font-size: 1.4em;
}