.imagenNoticia{
    display: inline;
    margin-bottom: 10px;
    max-height:300px;
    max-width:300px;
    padding: 15px;
}

.parrafoNoticia{
    text-align:justify;
}

.parrafoFecha{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
}

.imagenThumbnail{
	margin-top: 10px;
	margin-bottom: 10px;
}

.tituloThumbnail{
    text-align:right;
    font-size: 0.8em;
    color: #424242;
}

.cajaItem{
    min-height:300px;
}

.fill {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-image: url('/media/img/fishBackBlue.png');
    background-repeat:repeat-y;
    background-position:center;
}