{% extends 'base.html' %}
{% block title %}Instituciónes de Educación Superior afiliadas a Canal ZOOM{% endblock %}
{% block description %}Instituciónes de Educación Superior afiliadas a Canal ZOOM{% endblock %}
{% block cssTag %}<link href="/media/css/entidades.css" rel="stylesheet">{% endblock %}
{% block scriptTag %}
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhk1Town3jU_730V3qTIag1NmTLG2_t7U">
</script>
<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(4.626, -74.075),
          zoom: 5
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        {% for ies in listaIESAfiliadas %}
          var myLatlng{{forloop.counter}} = new google.maps.LatLng({{ies.latitud|stringformat:"f"}},{{ies.longitud|stringformat:"f"}});
          var marker{{forloop.counter}} = new google.maps.Marker({
              position: myLatlng{{forloop.counter}},
              map: map,
              title:"{{ ies.nombre }}"
          });      
        {% endfor %}

      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block imagenPublicidadHeader %}
  {% if pagina.banner_superior %}
    {% if pagina.banner_superior.codigo_html == "" %}
      <a href="{{pagina.banner_superior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_superior.imagen}}" style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};" alt="{{pagina.banner_superior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_superior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block h1 %}Instituciónes de Educación Superior afiliadas a Canal ZOOM{% endblock %}
{% block content%}
      <!-- CONTENIDO -->
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li>El Canal</li>
            <li class="active">Instituciónes de Educación Superior Afiliadas</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Logo</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Dirección</th>
              </tr>
            </thead>        
            <tbody>
            {% for ies in listaIESAfiliadas %}              
              <tr>
                <td><a href="/IES Afiliadas/entidades/{{ ies.id }}/"><img src="/media/{{ ies.logo }}" width="80" alt=""></a></td>
                <td><a href="/IES Afiliadas/entidades/{{ ies.id }}/">{{ ies.nombre }}</a></td>
                <td>{{ ies.ciudad }}</td>
                <td>{{ ies.direccion }}</td>
              </tr>
            {% endfor %}
            </tbody>    
          </table>
          <center>
            {% if listaIESAfiliadas %}
            <ul class="pagination">
            {% if listaIESAfiliadas.has_previous %}
              <li><a href="/IES Afiliadas/page/1/"> << </a></li>
              <li><a href="/IES Afiliadas/page/{{ listaIESAfiliadas.previous_page_number }}/"> Prev </a></li>
            {% endif %}

            {% for pageNum in paginas %}
            <li><a href="/IES Afiliadas/page/{{ pageNum }}/">{{ pageNum }}</a></li>
            {% endfor %}

            {% if listaIESAfiliadas.has_next %}
              <li><a href="/IES Afiliadas/page/{{ listaIESAfiliadas.next_page_number }}/"> Next </a></li>
              <li><a href="/IES Afiliadas/page/{{ listaIESAfiliadas.paginator.num_pages }}/"> >> </a></li>
            {% endif %}
            </ul>
            {% endif %}
          </center>
        </div>
        <div class="col-md-5">
          <div id="map-canvas" class="col-md-12"></div>
        </div>
      </div>
{% endblock %}

{% block imagenPublicidadFooter %}
  {% if pagina.banner_inferior %}
    {% if pagina.banner_inferior.codigo_html == "" %}
      <a href="{{pagina.banner_inferior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_inferior.imagen}}" style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};" alt="{{pagina.banner_inferior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_inferior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}
