{% extends 'base.html' %}
{% block title %}Ingreso como Usuario Registrado - Canal ZOOM{% endblock %}
{% block description %}Ingreso como usuario registrado a la pagina Web Canal Universitario Nacional de Colombia ZOOM{% endblock %}
{% block cssTag %}<link href="/media/css/index.css" rel="stylesheet">{% endblock %}

{% block h1 %}Ingreso como usuario registrado a la pagina Web Canal Universitario Nacional de Colombia ZOOM{% endblock %}
{% block content%}
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="well">
			<center><h4>RSS</h4></center>
			<p>
			RSS es un formato que permite suscribirse de una manera sencilla y gratuita a los contenidos de un sitio web. <br><br>Canal ZOOM te ofrece en formato RSS los siguientes contenidos.</p>
			<ul>
				<li><a href="/feeds/noticias/">Noticias</a></li>
				<li><a href="/feeds/eventos/">Eventos</a></li>
				<li><a href="/feeds/oportunidades/">Oportunidades</a></li>
				<li><a href="/feeds/blogs/">Blogs</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
