{% extends 'base.html' %}
{% block title %}Franja {{ franja.nombre }} Canal ZOOM{% endblock %}
{% block description %} {{ franja.descripcion }} {% endblock %}
{% block cssTag %}<link href="/media/css/franja.css" rel="stylesheet">{% endblock %}

{% block imagenPublicidadHeader %}
  {% if pagina.banner_superior %}
    {% if pagina.banner_superior.codigo_html == "" %}
      <a href="{{pagina.banner_superior.direccion_web}}">
      <img src="/media/{{pagina.banner_superior.imagen}}" style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};" alt="{{pagina.banner_superior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_superior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block h1 %}Franja {{ franja.nombre }} Canal ZOOM{% endblock %}
{% block content%}
      <!-- CONTENIDO -->
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li>Franjas</li>
            <li class="active">{{ franja.nombre }}</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-2">
          <!-- BANNER IZQUIERDO -->
          <center>
          {% if pagina.banner_izquierdo %}
            {% if pagina.banner_izquierdo.codigo_html == "" %}
              <a href="{{pagina.banner_izquierdo.direccion_web}}">
              <img src="/media/{{pagina.banner_izquierdo.imagen}}" style="width:{{pagina.banner_izquierdo.tamano.ancho}};height:{{pagina.banner_izquierdo.tamano.alto}};" alt="{{pagina.banner_izquierdo.nombre}}"></a>
            {% else %}
              <div style="width:{{pagina.banner_izquierdo.tamano.ancho}};height:{{pagina.banner_izquierdo.tamano.alto}};">{% autoescape off %}{{ pagina.banner_izquierdo.codigo_html }}{% endautoescape %}</div>
            {% endif %}
          {% endif %}
          </center>         
        </div>
        <article class="col-md-8" style="border-style:solid; border-width:8px; border-color:#{{ franja.color }}; padding: 25px;">
          <!-- FRANJA -->
          <div>
            {% if franja.imagen != "" %}
            <span class="col-md-6">
                <img class="img-responsive imagenNoticia" src="/media/{{ franja.imagen }}" alt="Imagen - {{ franja.nombre }}" >
            </span>
            {% endif %}
            <h4 class="media-heading">{{ franja.nombre }}</h4>
            <p class="parrafoNoticia">
              {% autoescape off %}{{ franja.descripcion }}{% endautoescape %}
            </p>
          </div>

          {% if programas %}
          <!-- PROGRAMAS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Programas</h3>
            </div>
            <div class="panel-body">

              {% for programa in programas %}
              <ul class="media-list">
                <li class="media">
                  {% if programa.imagen %}
                    <img class="media-object" src="/media/{{programa.imagen}}" alt="">
                  {% endif %}
                  <div class="media-body">
                    <h5 class="media-heading">{{ programa.nombre }}</h5>
                    {{ programa.detalles }} 
                  </div>
                </li>
              </ul>
              {% endfor %}

            </div>
          </div>              
          {% endif %}

        </article>


        <div  class="hidden-xs hidden-sm col-md-2">
          <!-- BANNER DERECHO -->          
          <center>
            {% if pagina.banner_derecho %}
              {% if pagina.banner_derecho.codigo_html == "" %}
                <a href="{{pagina.banner_derecho.direccion_web}}">
                <img src="/media/{{pagina.banner_derecho.imagen}}" style="width:{{pagina.banner_derecho.tamano.ancho}};height:{{pagina.banner_derecho.tamano.alto}};" alt="{{pagina.banner_derecho.nombre}}"></a>
              {% else %}
                <div style="width:{{pagina.banner_derecho.tamano.ancho}};height:{{pagina.banner_derecho.tamano.alto}};">{% autoescape off %}{{ pagina.banner_derecho.codigo_html }}{% endautoescape %}</div>
              {% endif %}
            {% endif %}
          </center>         
        </div>
      </div><br>
{% endblock %}

{% block imagenPublicidadFooter %}
  {% if pagina.banner_inferior %}
    {% if pagina.banner_inferior.codigo_html == "" %}
      <a href="{{pagina.banner_inferior.direccion_web}}">
      <img src="/media/{{pagina.banner_inferior.imagen}}" style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};" alt="{{pagina.banner_inferior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_inferior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}
