{% extends 'base.html' %}
{% block title %}

{% if isEfemerides %}
Efemérides - {{ noticia.titulo }} - Canal ZOOM
{% else %}
Noticia - {{ noticia.titulo }} - Canal ZOOM
{% endif %}

{% endblock %}

{% block meta %}
{% if isEfemerides %}
  <meta property="og:title" content="Efemérides - {{ noticia.titulo }} via Canal Zoom"/>
{% else %}
  <meta property="og:title" content="Noticia - {{ noticia.titulo }} via Canal Zoom"/>
{% endif %}
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ request.get_full_path }}"/>
<meta property="og:image" content="/media/{{ noticia.imagen_principal.archivo }}"/>
<meta property="og:site_name" content="Canal ZOOM"/>
<meta property="og:description" content="{{ noticia.lead }}"/>
{% endblock %}

{% block description %} {{ noticia.lead }} {% endblock %}
{% block cssTag %}
    <link href="/media/css/noticia.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/media/css/styleGallery.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/elastislide.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
    <style>
      .es-carousel ul{
        display:block;
      }
    </style>    
{% endblock %}

{% block scriptTag %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=257656264425434&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block scriptTag2 %}
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
  <div class="rg-image-wrapper">
      <div class="rg-image-nav">
        <a href="#" class="rg-image-nav-prev">Previous Image</a>
        <a href="#" class="rg-image-nav-next">Next Image</a>
      </div>
    <div class="rg-image"></div>
    <div class="rg-loading"></div>
    <div class="rg-caption-wrapper">
      <div class="rg-caption" style="display:none;">
        <p></p>
      </div>
    </div>
  </div>
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/media/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="/media/js/gallery.js"></script>
{% endblock %}

{% block imagenPublicidadHeader %}
  {% if pagina.banner_superior %}
    {% if pagina.banner_superior.codigo_html == "" %}
      <a href="{{pagina.banner_superior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_superior.imagen}}" style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};" alt="{{pagina.banner_superior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_superior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block h1 %}Noticia - {{ noticia.titulo }}{% endblock %}
{% block content%}
      <!-- CONTENIDO -->
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/noticias/page/1/">Noticias</a></li>
            <li class="active">{{ noticia.titulo }}</li>
          </ol>
        </div>
      </div>
      <div class="row" style="overflow: hidden;">
        <div class="hidden-xs hidden-sm col-md-2 fill">
          <!-- BANNER IZQUIERDO -->
          <center>
          {% if pagina.banner_izquierdo %}
            {% if pagina.banner_izquierdo.codigo_html == "" %}
              <a href="{{pagina.banner_izquierdo.direccion_web}}" target="_blank">
              <img src="/media/{{pagina.banner_izquierdo.imagen}}" style="width:{{pagina.banner_izquierdo.tamano.ancho}};height:{{pagina.banner_izquierdo.tamano.alto}};" alt="{{pagina.banner_izquierdo.nombre}}"></a>
            {% else %}
              <div style="width:{{pagina.banner_izquierdo.tamano.ancho}};height:{{pagina.banner_izquierdo.tamano.alto}};">{% autoescape off %}{{ pagina.banner_izquierdo.codigo_html }}{% endautoescape %}</div>
            {% endif %}
          {%else%}
            &nbsp;
          {% endif %}
          </center>
        </div>
        <article class="col-md-8">
          <!-- NOTICIA -->
          <div class="cajaItem">
              <a class="pull-left" href="/imagenes/{{ noticia.imagen_principal.id }}/">
                <img class="img-responsive imagenNoticia" src="/media/{{ noticia.imagen_principal.archivo }}" alt="Imagen - {{ noticia.imagen_principal.nombre }}" >
              </a>
            </span>
            {% if isEfemerides %}
              <h4 class="media-heading">{{ noticia.fecha|date:'F j' }} de {{ noticia.fecha|date:'Y' }}</h4>
            {% endif %}
            <h4 class="media-heading">{{ noticia.titulo }}</h4>
            <p class="parrafoNoticia">
            {% autoescape off %}{{ noticia.lead }}{% endautoescape %}</p>
            <p class="parrafoNoticia">
              {% autoescape off %}{{ noticia.contenido }}{% endautoescape %}
            </p>
            
            <p>
              <span class="pull-left parrafoFecha">
                {% if not isEfemerides %}
                  Fecha de publicación: {{ noticia.fecha }}
                {% endif %}
              </span>
              <span class="pull-right">
                {% if noticia.direccion_web != ""%}
                <p align="right">
                  <a href="{{ noticia.direccion_web }}" target="_blank">Mas informacion</a></p>            
                 {% else %}
                <p align="right">&nbsp;</p>
                {% endif %}
              </span>              
            </p>

          <!-- COMPARTIR -->
            <p align="center">
              <span>
                <div class="fb-share-button" data-href="#" data-type="button_count" style="position:relative;top:-6px;"></div>
              </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                <a href="https://twitter.com/intent/tweet?via=canalzoomtv" class="twitter-share-button" data-lang="es">Twittear</a>
              </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>              

          </div>
          <br>

          {% if noticia.imagenes_adicionales.all|length > 0  %}
          <!-- IMAGENES -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Imágenes Adicionales</h3>
            </div>
            <div class="panel-body">

              <div id="rg-gallery" class="rg-gallery">
                <div class="rg-thumbs">
                  <!-- Elastislide Carousel Thumbnail Viewer -->
                  <div class="es-carousel-wrapper">
                    <div class="es-nav">
                      <span class="es-nav-prev">Previous</span>
                      <span class="es-nav-next">Next</span>
                    </div>
                    <div class="es-carousel">
                      <ul>
                        {% for imagen in noticia.imagenes_adicionales.all %}
                        <li><a href="/imagenes/{{ imagen.id }}/"><img src="/media/{{ imagen.archivo }}" data-large="/media/{{ imagen.archivo }}" alt="Imagen - {{ imagen.nombre }}" data-description="{{ imagen.nombre }}" /></a></li>
                        {% endfor %}
                        <li><a href="#"><img src="/media/img/finGaleria.jpg" data-large="/media/img/finGaleria.jpg" alt=" " data-description=" " style="height: 0px; width: 0px; border: 0px;"/></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Elastislide Carousel Thumbnail Viewer -->
                </div><!-- rg-thumbs -->
              </div><!-- rg-gallery -->

            </div>
          </div>
          {% endif %}

          {% if noticia.videos.all|length > 0  %}
          <!-- VIDEOS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Videos</h3>
            </div>
            <div class="panel-body">
            {% for video in noticia.videos.all %}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">   
                    <div class="col-md-12 imagenThumbnail">
                      <a href="/videos/{{ video.id}}/" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                        <img src="http://img.youtube.com/vi/{{ video.codigo }}/0.jpg" alt="...">
                      </a>
                    </div>
                    <div class="caption tituloThumbnail">
                      <a href="/videos/{{ video.id }}/" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">{{ video.nombre }}
                      </a>
                  </div>
                </div>
              </div>
            {% endfor %}

            </div>
          </div>              
          {% endif %}

          {% if noticia.documentos.all|length > 0  %}
          <!-- VIDEOS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Documentos</h3>
            </div>
            <div class="panel-body">
            {% for documento in noticia.documentos.all %}
            <p>
              <a href="/media/{{ documento.archivo }}/" target="_blank">{{ documento.nombre}}</a>: {{ documento.descripcion}}
            </p>
            {% endfor %}

            </div>
          </div>              
          {% endif %}


          {% if noticia.franjas.all|length > 0  %}
          <!-- FRANJAS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Franjas asociadas</h3>
            </div>
            <div class="panel-body">
              <h4>
              {% for franja in noticia.franjas.all %}
                <a href="/franjas/{{ franja.nombre }}/"><span class="label label-primary">{{ franja.nombre }}</span></a>
              {% endfor %}
              </h4>
            </div>
          </div>
          {% endif %}

          {% if noticia.entidades.all|length > 0  %}
          <!-- ENTIDADES -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Entidades asociadas</h3>
            </div>
            <div class="panel-body">
              <h4>
              {% for entidad in noticia.entidades.all %}
                <a href="/entidades/{{ entidad.id }}/"><span class="label label-primary">{{ entidad.nombre }}</span></a>
              {% endfor %}
              </h4>
            </div>
          </div>
          {% endif %}

          {% if noticia.categorias.all|length > 0  %}
          <!-- CATEGORIAS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Categorías asociadas</h3>
            </div>
            <div class="panel-body">
              <h4>
              {% for categoria in noticia.categorias.all %}
              <span class="label label-default">{{ categoria.nombre }}</span>
              {% endfor %}
              </h4>
            </div>
          </div>
          {% endif %}

          {% if noticia.tags.all|length > 0  %}
          <!-- TAGS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tags asociados</h3>
            </div>
            <div class="panel-body">
              <h4>
              {% for tag in noticia.tags.all %}
              <span class="label label-default">{{ tag.nombre }}</span>
              {% endfor %}
              </h4>
            </div>
          </div>              
          {% endif %}

          <!-- COMENTARIOS -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Comentarios</h3>
            </div>
            <div class="panel-body">

            {% if noticia.comentarios %}
              {% for comentario in noticia.comentarios.all %}
              {% if comentario.estado.id == 2 %}
              <ul class="media-list">
                <li class="media">
                  <span class="pull-left">
                    <a href="/perfiles/{{comentario.usuario.id}}/">
                    {% if comentario.usuario.avatar %}
                      <img class="media-object" style="width:60px" src="/media/{{comentario.usuario.avatar}}" alt="">
                    {% else %}
                      <img class="media-object" style="width:60px" src="/media/img/avatar.png" alt="">
                    {% endif %}
                    </a>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">{{ comentario.usuario.user.username }}</h5>
                    {{ comentario.contenido }} 
                    <div class="parrafoFecha">{{ comentario.fecha }}</div>
                  </div>
                </li>
              </ul>
              <hr>
              {% endif %}
              {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
              <ul class="media-list">
                <li class="media">
                  {% if perfil.avatar != "" %}
                    <img class="media-object pull-left" style="width:60px" src="/media/{{ perfil.avatar }}" alt="">
                  {% else %}
                    <img class="media-object pull-left" style="width:60px" src="/media/img/avatar.png" alt="">
                  {% endif %}
                  <div class="media-body">
                    <form action="/comentario noticia/" method="POST">
                    {% csrf_token %}
                    <h5 class="media-heading">{{ user.username }}</h5>
                    <input type="hidden" name="id_noticia" id="id_noticia" value="{{noticia.id}}">
                    <div class="input-group">
                      <textarea class="col-md-12" name="txt_comentario" id="txt_comentario"></textarea>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Comentar</button>
                      </span>
                    </div>
                  </form>
                  </div>
                  <span class="parrafoFecha">
                  Los comentarios están sujetos a aprobación del moderador.
                  </span>
                </li>
              </ul>
            {% else %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Debes estar registrado para poder comentar.
              </div>
            {% endif %}
            </div>
          </div>              

        </article>


        <div class="hidden-xs hidden-sm col-md-2 fill">
          <!-- BANNER DERECHO -->          
          <center>
            {% if pagina.banner_derecho %}
              {% if pagina.banner_derecho.codigo_html == "" %}
                <a href="{{pagina.banner_derecho.direccion_web}}" target="_blank">
                <img src="/media/{{pagina.banner_derecho.imagen}}" style="width:{{pagina.banner_derecho.tamano.ancho}};height:{{pagina.banner_derecho.tamano.alto}};" alt="{{pagina.banner_derecho.nombre}}"></a>
              {% else %}
                <div style="width:{{pagina.banner_derecho.tamano.ancho}};height:{{pagina.banner_derecho.tamano.alto}};">{% autoescape off %}{{ pagina.banner_derecho.codigo_html }}{% endautoescape %}</div>
              {% endif %}
            {%else%}
              &nbsp;
            {% endif %}
          </center>         
        </div>
      </div>
{% endblock %}

{% block imagenPublicidadFooter %}
  {% if pagina.banner_inferior %}
    {% if pagina.banner_inferior.codigo_html == "" %}
      <a href="{{pagina.banner_inferior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_inferior.imagen}}" style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};" alt="{{pagina.banner_inferior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_inferior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}
