{% extends 'base.html' %}
{% block title %}Videos - Canal ZOOM{% endblock %}
{% block description %} Videos del Canal Universitario Nacional de Colombia ZOOM{% endblock %}
{% block cssTag %}<link href="/media/css/busqueda.css" rel="stylesheet">{% endblock %}

{% block imagenPublicidadHeader %}
  {% if pagina.banner_superior %}
    {% if pagina.banner_superior.codigo_html == "" %}
      <a href="{{pagina.banner_superior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_superior.imagen}}" style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};" alt="{{pagina.banner_superior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_superior.tamano.ancho}};height:{{pagina.banner_superior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_superior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block h1 %}Videos Canal ZOOM{% endblock %}
{% block content%}

      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Videos</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- BUSQUEDA -->
			<form action="/videos/page/1/" method="POST">
				{% csrf_token %}
	          <div class="panel-group" id="accordion">
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapsePalabras">
	                    <span class="glyphicon glyphicon-collapse-down"></span> Palabra Clave
	                  </a>
	                </h4>
	              </div>
	              <div id="collapsePalabras" class="panel-collapse collapse in">
	                <div class="panel-body">
	                  <input type="text" class="form-control" name="palabra" placeholder="palabra" value="{{ palabraABuscar }}">
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFranjas">
	                    <span class="glyphicon glyphicon-collapse-down"></span> Franjas
	                  </a>
	                </h4>
	              </div>
	              <div id="collapseFranjas" class="panel-collapse collapse">
	                <div class="panel-body">
					{% for franja in listaFranjas %}
						{% with franja.id|stringformat:"s" as franja_id %}
	                	<input type="checkbox" name="franjas[]" value="{{ franja_id }}"
						{% if franja_id in franjasABuscar %}
						checked
						{% endif %}	                	
	                	>{{ franja.nombre }}<br>
	                	{% endwith %}	
					{% endfor %}
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseEntidades">
	                    <span class="glyphicon glyphicon-collapse-down"></span> Entidades
	                  </a>
	                </h4>
	              </div>
	              <div id="collapseEntidades" class="panel-collapse collapse">
	                <div class="panel-body">
					{% for entidad in listaEntidades %}
						{% with entidad.id|stringformat:"s" as entidad_id %}
		                <input type="checkbox" name="entidades[]" value="{{ entidad_id }}"
						{% if entidad_id in entidadesABuscar %}
						checked
						{% endif %}	                	
		                > {{ entidad.nombre }}<br>
						{% endwith %}					
					{% endfor %}
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCategorias">
	                    <span class="glyphicon glyphicon-collapse-down"></span> Categorías
	                  </a>
	                </h4>
	              </div>
	              <div id="collapseCategorias" class="panel-collapse collapse">
	                <div class="panel-body">
					{% for categoria in listaCategorias %}
						{% with categoria.id|stringformat:"s" as categoria_id %}
	                	<input type="checkbox" name="categorias[]" value="{{ categoria_id }}"
						{% if categoria_id in categoriasABuscar %}
						checked
						{% endif %}	                	
	                	> {{ categoria.nombre }}<br>
	                	{% endwith %}
					{% endfor %}
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTags">
	                    <span class="glyphicon glyphicon-collapse-down"></span> Tags
	                  </a>
	                </h4>
	              </div>
	              <div id="collapseTags" class="panel-collapse collapse">
	                <div class="panel-body">
					{% for tag in listaTags %}
						{% with tag.id|stringformat:"s" as tag_id %}
	                	<input type="checkbox" name="tags[]" value="{{ tag_id }}"
						{% if tag_id in tagsABuscar %}
						checked
						{% endif %}	                	
	                	> {{ tag.nombre }}<br>
	                	{% endwith %}
					{% endfor %}
	                </div>
	              </div>
	            </div>
	          </div>
	          <div>
	            <center>
	              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
	            </center>
	          </div>
	        </form>
        </div>

        <div class="col-md-8">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ numeroTotalvideos }} videos</h3>
            </div>
            <div class="panel-body">
            <!-- RESULTADOS -->
				<div class="row">
				{% for video in listaVideos %}
					{% if forloop.counter == 4%}
					</div><div class="row">
					{% endif %}
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">		
				        <div class="col-md-12 imagenThumbnail">
				        	<a href="/videos/{{ video.id }}/" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
				        		<img src="http://img.youtube.com/vi/{{ video.codigo }}/0.jpg" alt="...">
				        	</a>
				        </div>
				        <div class="caption tituloThumbnail">
					        <a href="/videos/{{ video.id }}/" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">{{ video.nombre }}</a>
				    	</div>
				        <div class="parrafoVistas">Visto: {{ video.visto }} veces</div>
				    </div>
				  </div>
				{% endfor %}
				</div>
              </div>
              <!-- FIN RESULTADOS -->
            </div>
          </div>
          <center>
		  {% if listaVideos %}
			<ul class="pagination">
			{% if listaVideos.has_previous %}
				<li><a href="/videos/page/1/"> << </a></li>
				<li><a href="/videos/page/{{ listaVideos.previous_page_number }}/"> Prev </a></li>
			{% endif %}

			{% for pageNum in paginas %}
			<li><a href="/videos/page/{{ pageNum }}/">{{ pageNum }}</a></li>
			{% endfor %}

			{% if listaVideos.has_next %}
				<li><a href="/videos/page/{{ listaVideos.next_page_number }}/"> Next </a></li>
				<li><a href="/videos/page/{{ listaVideos.paginator.num_pages }}/"> >> </a></li>
			{% endif %}
			</ul>
		  {% endif %}
          </center>
        </div>
      </div>
{% endblock %}

{% block imagenPublicidadFooter %}
  {% if pagina.banner_inferior %}
    {% if pagina.banner_inferior.codigo_html == "" %}
      <a href="{{pagina.banner_inferior.direccion_web}}" target="_blank">
      <img src="/media/{{pagina.banner_inferior.imagen}}" style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};" alt="{{pagina.banner_inferior.nombre}}"></a>
    {% else %}
      <div style="width:{{pagina.banner_inferior.tamano.ancho}};height:{{pagina.banner_inferior.tamano.alto}};">{% autoescape off %}{{ pagina.banner_inferior.codigo_html }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
{% endblock %}
