<!DOCTYPE html>
<html lang="es" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="{% block description %} {% endblock %}">
    {% block meta %} {% endblock %}

    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>    
    <link href="/media/css/bootstrap-Cerulean.min.css" rel="stylesheet">
    <link href="/media/css/social-buttons-3.css" rel="stylesheet">
    <link href="/media/css/font-awesome.css" rel="stylesheet">
    <link href="/media/css/base.css" rel="stylesheet">
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    {% block cssTag %} {% endblock %}

    {% block scriptTag %} {% endblock %}

    <script type="text/javascript" src="/media/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/media/js/underscore.js"></script>
    <script type="text/javascript" src="/media/js/backbone.js"></script>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {        
        $('#menuLogin').click();
      });
    </script>

<script language="javascript">
  function validarEmail()
  {
    if (document.forms['frm-boletin'].elements['email'].value.match(/^\w+([\.-]?\w+)+@\w+([\.-]?\w+)*(\.\w{2,3})+$/)==null)
    {
      alert ("El email no es valido.");
      document.forms['frm-boletin'].elements['email'].focus();
      return false;
    }

  }

  function validarPalabrasABuscar()
  {
    if (document.forms['frm-busqueda'].elements['palabras'].value=="")
    {
      alert ("No ha especificado las palabras a buscar.");
      document.forms['frm-busqueda'].elements['palabras'].focus();
      return false;
    }
  }
</script>
    {% block scriptTag2 %} {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="height: 100%; background-image: url('/media/{{ fondoPrincipal.archivo }}');">
    <div class="container" style="height: 100%;">
      <header>
        <div class="row">
          <!-- LOGO -->
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
            <figure id="logo">
              <img src="/media/img/logozoom.png" alt="Logo Canal Zoom">
            </figure>
          </div>
          
          <div class="hidden-xs hidden-sm hidden-md col-lg-10">
            <!-- PUBLICIDAD -->
            <div class="row" style="height:10px"></div>
            <div class="row" style="height:120px">
              <div class="col-md-12 text-center" style="vertical-align:middle;">
                <figure id="publicidad">
                  <center>
                  {% block imagenPublicidadHeader %} {% endblock %}
                  <center>
                </figure>
              </div>
            </div>

            <div class="row">
              <h1 style="font-size:xx-small;color:white; display: none;">{% block h1 %} H1 Base {% endblock %}</h1>
            </div>
            <div class="row" style="height:6px"></div>
            <div class="row" style="height:28px">
              <div class="col-md-3 text-left">
                <!-- REDES SOCIALES -->
                <span style="margin-right:3px;">
                  <a href="https://www.facebook.com/CanalZOOM" target="_blank">
                    <img class="img-circle" src="/media/img/facebook_icon.png" width="32" alt="Facebook Canal Zoom">
                  </a>
                </span>
                <span style="margin-right:3px;">
                  <a href="https://twitter.com/canalzoomtv" target="_blank">
                    <img class="img-circle" src="/media/img/twitter_icon.png" width="32" alt="Twitter Canal Zoom">
                  </a>
                </span>
                <span style="margin-right:3px;">
                  <a href="http://instagram.com/tvzoomgram" target="_blank">
                    <img class="img-circle" src="/media/img/instagram_icon.png" width="32" alt="Instagram Canal Zoom">
                  </a>
                </span>
                <span style="margin-right:3px;">
                  <a href="https://www.youtube.com/user/ZoomCanal" target="_blank">
                    <img class="img-circle" src="/media/img/youtube_icon.png" width="32" alt="Youtube Canal Zoom">
                  </a>
                </span>
                <span style="margin-right:3px;">
                  <a href="/feeds/">
                    <img class="img-circle" src="/media/img/rss_icon.png" width="32" alt="RSS Canal Zoom">
                  </a>
                </span>
              </div>
              <div class="col-md-6 text-center">
                <form method="POST" name="frm-boletin" action="/boletin/suscriptor/nuevo/">
                  {% csrf_token %}  
                  <div class="form-group">            
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon" style="font-family: 'Oswald', sans-serif; background-color:#0F689B; color: #FFFFFF; border-color:#0F689B;">Suscribete a nuestro boletín&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></span>
                      <input name="email" type="text" class="form-control" placeholder="Correo electrónico" style="background-color:#CECEF6; border-color:#0F689B; color:#2E2E2E;">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="return validarEmail()" style="background-color:#0F689B;"><i class="glyphicon glyphicon-ok"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-3 text-right">
                <!-- BUSQUEDA -->
                <form method="POST" name="frm-busqueda" action="/busqueda/">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <input name="palabras" type="text" class="form-control" placeholder="Buscar" style="background-color:#CECEF6; border-color:#0F689B; color:#2E2E2E;">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="return validarPalabrasABuscar()"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% if mensaje %}
              <div class="alert alert-warning fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>{{mensaje}}
              </div>
        {% endif%}

        <!-- BARRA DE NAVEGACION -->
        <div class="navbar navbar-default" style="font-family: 'Oswald', sans-serif; font-size: 1.1em; border-color:#0F689B;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse" style="background-color:#0F689B;">
            <ul class="nav navbar-nav">
              <li {% if request.path == '/' %} class="active"{% endif %}><a href="/">Inicio</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">El Canal <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li {% if '/canal/acerca de zoom/' in request.path %} class="active"{% endif %}><a href="/canal/acerca de zoom/">Acerca del Canal</a></li>
                  <li {% if '/canal/equipo de trabajo/' in request.path %} class="active"{% endif %}><a href="/canal/equipo de trabajo/">Equipo de trabajo</a></li>
                  <li {% if '/canal/comite programacion/' in request.path %} class="active"{% endif %}><a href="/canal/comite programacion/">Comité de Programación</a></li>
                  <li {% if '/canal/comites tecnicos regionales/' in request.path %} class="active"{% endif %}><a href="/canal/comites tecnicos regionales/">Comités Técnicos Regionales</a></li>
                  <li class="divider"></li>
                  <li {% if '/canal/documentos/' in request.path %} class="active"{% endif %}><a href="/canal/documentos/">Documentos</a></li>
                  <li class="divider"></li>
                  <li {% if '/IES Afiliadas/page/' in request.path %} class="active"{% endif %}><a href="/IES Afiliadas/page/1/">IES Afiliadas</a></li>
                </ul>
              </li>
              <li {% if '/noticias/' in request.path %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Noticias<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for categoria in categorias %}
                  <li {% if '/noticias/categoria/{{categoria.id}}/' in request.path %} class="active"{% endif %}><a href="/noticias/categoria/{{categoria.id}}/">{{categoria.nombre}}</a></li>
                  {% endfor %}              
                </ul>
              </li>
              <li {% if '/programacion/' in request.path %} class="active"{% endif %}><a href="/programacion/">Programación</a></li>
              <li {% if '/franjas/' in request.path %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Franjas<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li {% if '/franjas/Crea ZOOM/' in request.path %} class="active"{% endif %}><a href="/franjas/Crea ZOOM/">Crea ZOOM</a></li>
                  <li {% if '/franjas/Gente ZOOM/' in request.path %} class="active"{% endif %}><a href="/franjas/Gente ZOOM/">Gente ZOOM</a></li>
                  <li {% if '/franjas/Innova ZOOM/' in request.path %} class="active"{% endif %}><a href="/franjas/Innova ZOOM/">Innova ZOOM</a></li>
                  <li {% if '/franjas/Planeta ZOOM/' in request.path %} class="active"{% endif %}><a href="/franjas/Planeta ZOOM/">Planeta ZOOM</a></li>
                  <li {% if '/franjas/Acercate ZOOM/' in request.path %} class="active"{% endif %}><a href="/franjas/Acercate ZOOM/">Acercate ZOOM</a></li>
                </ul>
              </li>
              <li {% if '/videos/' in request.path %} class="active"{% endif %}><a href="/videos/page/1/">Videos</a></li>
              <li {% if '/producciones/' in request.path %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for programa in producciones %}
                  <li {% if '/producciones/{{programa.id}}/' in request.path %} class="active"{% endif %}><a href="/producciones/{{programa.id}}/">{{programa.nombre}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li {% if '/oportunidades/' in request.path %} class="active"{% endif %}><a href="/oportunidades/page/1/">Oportunidades</a></li>
              <li {% if '/eventos/' in request.path %} class="active"{% endif %}><a href="/eventos/page/1/">Eventos</a></li>              
              <li {% if '/blogs/' in request.path %} class="active"{% endif %}><a href="/blogs/page/1/">Blogs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.is_authenticated %}Bienvenido {{ user.username }}{% else %}Login / Registrarse{% endif %}</a>
                <ul class="dropdown-menu">
                  <!-- MANEJO DE USUARIOS -->
                  {% if user.is_authenticated %}
                      <li><a href="/mi perfil/">Ver mi perfil</a></li>
                      {% if perfil %}
                        {% if perfil.tipo.id == 3 or perfil.tipo.id == 4 %}
                        <li><a href="/adminEntidad/" target="_blank">Modulo Administrador</a></li>
                        {% elif perfil.tipo.id == 1%}
                        <li><a href="/admin/" target="_blank">Modulo Administrador</a></li>
                        {% endif %}
                      {% endif %}
                      <li><a href="/logout/">Salir <i class="fa fa-sign-out"></i></a></li>
                  {% else %}
                    <li><a href="/registro/">Registro <i class="fa fa-pencil"></i></a></li>
                    <li><a href="{% url "vista_login" %}">Ingresar <i class="fa fa-sign-in"></i></a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>      
      </header>
             
      <!-- CONTENIDO -->
{% block content %}
{% endblock%}
      <footer>
        <div class="row text-center hidden-xs">
          <figure id="publicidad">
            <center>
            {% block imagenPublicidadFooter %} {% endblock %}
            <center>
          </figure>
        </div>
        <div class="row" style="height:10px;"></div>
        <div class="row text-center">
          <figure id="creditos">
            <center>
              <img src="/media/img/LogosCreditos.gif" class="img-responsive" alt="" usemap="#creditsmap">
            </center>
          </figure>
          <map name="creditsmap">
            <area shape="rect" coords="0,0,100,70" href="http://www.antv.gov.co/" alt="Autoridad Nacional de Television" target="_blank">
            <area shape="rect" coords="101,0,230,70" href="http://www.mincultura.gov.co/" alt="Ministerio de Cultura de Colombia" target="_blank">
            <area shape="rect" coords="231,0,357,70" href="http://www.mintic.gov.co/" alt="Ministerio de Tecnologias de la Informacion y las Comunicaciones" target="_blank">
            <area shape="rect" coords="358,0,486,70" href="http://www.mineducacion.gov.co/" alt="Ministerio de Educacion Nacional" target="_blank">
            <area shape="rect" coords="487,0,550,70" href="http://www.sena.edu.co" alt="Servicio Nacional de Aprendizaje" target="_blank">
            <area shape="rect" coords="551,0,644,70" href="/IES%20Afiliadas/page/1/" alt="Entidades Afiliadas a Canal ZOOM" target="_blank">
            <area shape="rect" coords="645,0,788,70" href="http://www.colciencias.gov.co/" alt="Departamento Administrativo de Ciencia Tecnologia e Innovacion" target="_blank">
            <area shape="rect" coords="789,0,920,70" href="http://www.renata.edu.co/" alt="Red Nacional Académica de Tecnología Avanzada" target="_blank">
          </map>
        </div>
        <div class="row text-center">
        <p><small>Calle 36 No 21-10 Piso 4 / Teléfono: (57-1) 805 2866 - Fax: (57-1) 755 9046 / Bogotá D.C., Colombia<br>
          <a href="mailto:zoomcanal@zoomcanal.com.co" target="_top">zoomcanal@zoomcanal.com.co</a></small></p>
        </div>
      </footer>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!--<script src="/media/js/bootstrap.min.js"></script>-->
    </div>
  </body>
</html>