<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administracion para entidades afiliadas a Canal ZOOM</title>
    <meta name="description" content="Modulo administrativo para entidades afiliadas a Canal ZOOM">

    <!-- Bootstrap -->
    <link href="/media/css/bootstrap-Cerulean.min.css" rel="stylesheet">
    <link href="/media/css/social-buttons-3.css" rel="stylesheet">
    <link href="/media/css/font-awesome.css" rel="stylesheet">
    <link href="/media/css/adminEntidad.css" rel="stylesheet">
    {% block cssTag %} {% endblock %}

    {% block scriptTag %} {% endblock %}

    <script type="text/javascript" src="/media/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/media/js/underscore.js"></script>
    <script type="text/javascript" src="/media/js/backbone.js"></script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>

  </head>
<body>
   <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/adminEntidad/">Administrador Canal ZOOM {% if not perfil.entidad %}(No tiene asociada una entidad){% else %} - {{perfil.entidad}}{% endif %}
</a>
          </div>
          <div class="navbar-collapse collapse">
            {% if perfil.entidad %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multimedia <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/adminEntidad/imagenes/page/1/">Imagenes</a></li>
                  <li><a href="/adminEntidad/videos/page/1/">Videos</a></li>
                  <li><a href="/adminEntidad/documentos/page/1/">Documentos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/adminEntidad/blogs/">Lista de Blogs</a></li>
                  <li><a href="/adminEntidad/comentarios/">Moderar Comentarios</a></li>
                </ul>
              </li>
              <li><a href="/adminEntidad/programas/">Programas</a></li>

              
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout/">Salir</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <div class="well">
        <center>
      <!-- CONTENIDO -->
		{% block content %}
		{% endblock%}
        </center>
      </div>
    </div> <!-- /container -->
	
</body>
</html>