{% extends 'baseAdminEntidad.html' %}
{% block content%} 
<h3>Lista de programas</h3>
{% if programas %} 
	<table class="table table-hover">
		<theader>
			<tr>
				<th>Nombre</th>
				<th></th>
				<th></th>
			</tr>
		</theader>
		<tbody>
		{% for i in programas %}
		<tr>
			<td>{{ i.nombre }}</td>
			<td>
				<a href="/adminEntidad/edit/programa/{{i.id}}/">
					<button type="button" class="btn btn-default btn-xs">
	  					<span class="glyphicon glyphicon-pencil"></span> Editar
					</button>
				</a>
			</td>
			<td>
				<a href="/producciones/{{ i.id }}/" target="_blank">
					<button type="button" class="btn btn-default btn-xs">
	  					<span class="glyphicon glyphicon-search"></span> Ver en ZOOM
					</button>
				</a>
			</td>
		</tr>
		{% endfor%}
		</tbody>
	</table>
{% else %}
<h2>No existen programas creados</h2>
{% endif %}

{% endblock %}
