{% extends 'baseAdminEntidad.html' %}
{% block content%} 
	<h2>Programa</h2>
	<form action="." method="POST" enctype="multipart/form-data" role="form">
		<table>
			{% csrf_token %}
			{{ form.as_table }}
			<tr>
				<td colspan="2"><center><button type="submit" id="btnRegisterFb" class="btn btn-primary" style="margin:5px;">Grabar</button></center></td>
			</tr>
		</table>
	</form>
	<br>
	<center>
		<a href="/adminEntidad/programas/{{idPrograma}}/capitulos/"><button class="btn btn-primary" style="margin:5px;">Editar capitulos del programa</button></a>
	</center>
<br><br>
	{% if informacion %}
	<div class="alert alert-warning alert-dismissible" role="alert">{{informacion}}</div><br>
	{% endif %}
<a href="/adminEntidad/programas/">Regresar a la lista de programas</a>
{% endblock %}
